.play-button 
{display: flex;
    justify-content: space-around;
    border-radius: 50%;
    border: 1px solid #f50;
    background: #f50;
    color: whitesmoke;
    font-size: 50px;
    position: relative;
    top: -99px;
    padding: 1% 1% 1% 1%;
}   