.sound-index {
  display: flex;
  min-width: 1240px;
  width: 1240px;
  height: auto;
  margin: 0 auto;
  margin-top: 46px;
  font-family: "Open Sans", sans-serif;
  min-width: 920px;
}

.ss-banner {
  align-items: center;
  justify-content: flex-end;
  display: flex;
  width: 100vw;
  height: 380px;
  background: linear-gradient(To top left, black, whitesmoke);
  color: whitesmoke;
  // text-shadow: 1px 1px whitesmoke;
}

.ss-words {
  width: 750px;
  padding-left: 41px;
  // display: flex;
}
.ss-words-top {
  display: flex;
  justify-content: space-between;
}
.ss-words-bottom {
margin-top: 10px;
    display: flex;
    justify-content: space-between; 
  }

.si-image {
  display: flex;
  margin: 39px 49px 11px;
  height: 340px;
  width: 340px;
}
.ss-title {
      display: inline-block;
    background: black;
    font-size: 16px;
    padding: 4px 6px 5px 6px;
    color: white;
}
.ss-body {
      display: inline-block;
    background: black;
    font-size: 16px;
    padding: 4px 6px 5px 6px;
    color: white;
}
.ss-tag {
  color: white;
  background: gray;
  font-size: 12px;
  padding: 0px 7px;
  border-radius: 20px;
  align-items: center;
  height: 18px;
  margin-top: 3px;
  display: flex;
  flex-direction: row-reverse;  
      width: fit-content;
    
}

.uploadsi-body {
  font-size: 12px;
}

.ss-main .play-button {
  width: 100px;
  height: 100px;
  color: white;
  border: none;
  text-align: center;
  font-size: 28px;
  border-radius: 100px;
  outline: none;
  background: rgb(167, 75, 0);
  background: linear-gradient(
    45deg,
    rgba(167, 75, 0, 1) 16%,
    rgba(196, 79, 0, 1) 35%,
    rgba(221, 90, 0, 1) 60%,
    rgba(255, 85, 0, 1) 95%
  );
}

.comments-form-wrapper {
  display: flex;
  align-items: center;
  margin-top: 15px;
  padding-left: 5px;
}

.comment-form {
  display: flex;
  padding-left: 5px;
  align-items: center;
  width: 714px;
  border-radius: 1px;
  height: 40px;
  background: linear-gradient(
    45deg,
    rgba(167, 75, 0, 1) 16%,
    rgba(196, 79, 0, 1) 35%,
    rgba(221, 90, 0, 1) 60%,
    rgba(255, 85, 0, 1) 95%
  );
}
.comment-form input {
  width: 698px;
  border-radius: 5px;
  border: 1px solid gray;
  outline: none;
}

.comments-index-main {
  display: flex;
  margin-top: 20px;
  padding-left: 10px;
}

.comment-photo {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  object-fit: cover;
}
.comment-photo-div {
  padding-right: 5px;
}

.comment-photo-empty {
  background: rgb(167, 75, 0);
  background: linear-gradient(
    45deg,
    rgba(167, 75, 0, 1) 16%,
    rgba(196, 79, 0, 1) 35%,
    rgba(221, 90, 0, 1) 60%,
    rgba(255, 85, 0, 1) 95%
  );
}

.comment-index-header {
  padding-bottom: 10px;
  color: gray;
  font-size: 14px;
  border-bottom: 1px solid #f0efef;
  margin-bottom: 10px;
}
.comment-main {
  display: flex;
  padding-bottom: 10px;
}

.comments-desc {
  padding-left: 40px;
  width: 600px;
}

.comment-header {
  display: flex;
  color: gray;
  height: 18px;
  justify-content: space-between;
}

.comment-body {
  display: flex;
  min-height: 23px;
  color: black;
  position: relative;
  font-size: 12px;
}

.comment-span {
  width: 400px;
}

.comment-content {
  width: 500px;
}
.comment-header {
  font-size: 12px;
}
.comment-other-author {
  color: gray;
}
