.sound-text {
    margin: 60px;
}

.sound-image {
  background: image_url("fogbridge.jpg");
  position: relative;
  background-size: cover;
  margin: 0 auto;
  height: 458px;
  width: 500px;
  align-items: center;
  margin: 0 auto;
  display: flex;
}
