.sound-index {
display: flex;
min-width: 1240px;
  width: 1240px;
  height: auto;
  margin: 0 auto;
  margin-top: 46px;
  font-family: 'Open Sans', sans-serif;
  min-width: 920px;
}

.ss-banner {
    align-items: center;
    justify-content: flex-end;
    display: flex;
    width: 100vw;
    height: 380px;
    background: linear-gradient(To top left, black, whitesmoke);
    color: whitesmoke;
    text-shadow: 1px 1px whitesmoke;
}

.si-image {
 display: flex;
    margin: 39px 49px 11px;
    height: 340px;
    width: 340px;
    
}

.ss.body {
      left: -225px;
    position: relative; 
}

.si-words {
  position: relative;
  left: 60%;
  bottom: 67px;
}
.si-title {
  font-size: 15px;
}

.si-tag {
  font-size: 12px;
}

.uploadsi-body {
  font-size: 12px;
}

.ss-title {
      align-self: flex-start;
    padding-top: 8%;
    color: white;
    text-shadow: 1px 1px whitesmoke;
    font-size: 28.8px;
}

.ss-tag {
  position: relative;
    left: 350px;
    top: -62px;
    font-size: 12px;
    color: whitesmoke;
    text-shadow: 1px 1px whitesmoke;
}