.home-photo {
  background: image_url("fogdancing.jpg");
  position: relative;
  background-size: cover;
  margin: 0 auto;
  height: 458px;
  width: 1500px;
  align-items: center;
  margin: 0 auto;
  display: flex;
}

.splash-text {
  display: flex;
  justify-content: center;
  font-size: 32px;
  color: white;
  text-shadow: 2px 2px black;
  font-family: Interstate, "Lucida Grande", Arial, sans-serif;
}

.splash-title {
  position: absolute;
  top: 12%;
  left: 50%;
  transform: translate(-50%);
  text-align: center;
  letter-spacing: 1px;
  z-index: 4;
}

.splash-sub {
  text-align: center;
  z-index: 4;
  position: absolute;
  font-size: 24px;
  line-height: 41.6px;
  font-weight: 300;
  margin: 0 auto 30px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 30px;
  margin-left: auto;
  top: 175px;
}

.splash-bottom {
  width: 91.75vw;
  max-width: 1240px;
  padding-top: 46px;
  background: #fff;
  min-width: 960px;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.bl-header {
  margin: 10px auto 40px;
  font-size: 25px;
  font-weight: 300;
}

.badgeListUl {
  list-style: none;
  margin: 0 5px;
  display: flex;
  margin-left: 5px;
  flex-wrap: wrap;
}

.badge {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  margin: 0 auto;
  margin-bottom: 40px;
}

.badgeImage {
  box-sizing: border-box;

  //  background-color: lightgrey;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-sizing: border-box;
  max-width: 180px;
  max-height: 180px;
  min-width: 180px;
  min-height: 180px;
  img {
    flex-shrink: 0;
    min-width: 100%;
    max-width: 100%;
  }
}
.badgeInfo {
  display: flex;
  flex-direction: column;
  padding-top: 5px;
}

.badgeDet {
  font-weight: 300;
}

.badgeDet:hover {
  color: black;
}

.bdsn {
  color: gray;
}
.bda {
  color: lightgrey;
  padding-top: 3px;
}

.splash-title {
  position: absolute;
  top: 17%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-family: sans-serif;
}

.splash-subtitle {
  position: absolute;
  top: 22%;
  left: 50%;
  transform: translate(-50%);
  color: white;
  text-align: center;
  letter-spacing: 1px;
  font-family: "Roboto", arial, helvetica, sans-serif;
  font-size: 16px;
  font-weight: 100;
  width: 500px;
  line-height: 1.5;
  margin-top: 15px;
}

.badge-a-tags {
  margin: 0 auto;
    font-size: 12px;
}

h3.bl-header {
  margin: 10px auto 40px;
  font-size: 25px;
  font-weight: 300;
}
