.signup-button {
    margin-right: 10px;
    background: transparent;
    border: 1px solid;
    border-radius: 5px;
    color: rgb(36, 36, 36);
    cursor: pointer;
}

.login-button {
margin-right: 10px;
background: transparent;
border: 1px solid;
border-radius: 5px;
color: rgb(36, 36, 36);
cursor: pointer;
}

.main {
    color: darkgray; 
}