.home-photo {
  background: image_url("fogdancing.jpg");
  position: relative;
  background-size: cover;
  margin: 0 auto;
  height: 458px;
  width: 1500px;
  align-items: center;
  margin: 0 auto;
  display: flex;
}
