.upload-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  margin-top: 250px;
    }

.upload-form-input-title {
  display: flex;
  flex-direction: column;
}
.upload-form-input-title {
  display: flex;
  flex-direction: column;
}

.upload-form-input-tag {
  display: flex;
  flex-direction: column;
}

.upload-form-input-body {
  display: flex;
  flex-direction: column;
}

.upload-submit {
  display: flex;
  flex-direction: column;
}

.song-photo {
  height: 260px;
  width: 260px;
  position: relative;
  margin: 0;
  background: rgb(172,77,0);
  background: linear-gradient(90deg, rgba(172,77,0,1) 27%, rgba(196,79,0,1) 50%, rgba(221,90,0,1) 73%, rgba(255,85,0,1) 90%);
}

.ui-form {
  display: flex;
  flex-direction: column;
  border: 1px solid darkgrey;
  border-top: 3px solid orange;
}
