profile-main {
    width: 1080px;
    height: auto;
    margin-top: 46px;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Open Sans', sans-serif;
    background: rgb(255, 255, 255);
    margin-bottom: 50px;
}

.profile-top {
    width: 1050px;
    height: 260px;
    display: flex;
}

.profile-pic-top-div {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    position: absolute;
    top: 21px;
    left: 47px;
    background: chartreuse;
}

.profile-pic-top {
    width: 200px;
    height: 200px;
    border-radius: 100px;
    top: 12px;
    left: 24px;
    object-fit: cover;
}

.profile-banner-top {
    width: 1080px;
    height: 270px;
    position: absolute;
    object-fit: cover;
}



.profile-song-img {
    width: 160px;
    height: 160px;
}


.liked {
    color: #ff5500;
}

.user-info {
    min-width: 1080px;
    margin-top: 46px;
    height: 260px;
    list-style: none;
    position: relative;
    background: rgb(167,75,0);
    background: linear-gradient(45deg, rgba(167,75,0,1) 16%, rgba(196,79,0,1) 35%, rgba(221,90,0,1) 60%, rgba(255,85,0,1) 95%);
}

.profile-pic-button {
    z-index: 1;
}

.user-display-name {
    position: absolute;
    z-index: 100;
    color: white;
    top: 41px;
    left: 277px;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
}

.profile-pic-button {
    position: absolute;
    z-index: 100;
    background: gray
}

.profile-song-content {
    margin-top: 10px;
    padding-left: 30px;
}

.profile-photo-label {
    position: absolute;
    width: 140px;
    height: 27px;
    cursor: pointer;
    left: 26px;
    bottom: 17px;
    padding: 0px 6px 2px 6px;
    color: black;
    border-radius: 5px;
    justify-content: center;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    z-index: 100;
}

.profile-banner-label {
    position: absolute;
    width: 140px;
    height: 27px;
    cursor: pointer;
    left: 900px;
    top: 47px;
    bottom: 17px;
    padding: 0px 6px 2px 6px;
    color: black;
    border-radius: 5px;
    justify-content: center;
    font-size: 12px;
    background-color: rgba(255, 255, 255, 0.5);
    display: flex;
    align-items: center;
    z-index: 100;
}

.profile-banner-label input[type="file"] {
    display: none;
}

.profile-photo-label input[type="file"] {
    display:none;
}

.profile-header {
    width: 1080px;
    height: 49px;
    padding-top: 35px;
    border-bottom: 1px solid #f0efef;
    list-style-type: none;
    font-size: 18px;
    color: #ff5500;
    display: flex;
    align-items: center;
}

.profile-header li {
    padding: 10px;
}

.recent {
    font-size: 23px;
    margin: 12px 0px 20px;
}

.profile-song-item {
    display: flex;
    list-style: none;
    padding-bottom: 30px;
}

.profile-recent-songs {
    min-width: 800px;
    border-right: 1px solid #f0efef;
    // padding-right: 15px;
    margin-top: 12px;
}

.profile-song-main {
    width: 600px;
    height: 165px;
    padding-left: 20px;
}

.profile-song-header {
    width: 600px;
    height: 100px;
    display: flex;
}

.profile-song-header {
    display: flex;
    height: 43px;
}


.profile-song-header .play-button {
    width: 36px;
  height: 36px;
  color: white;
  border: none;
  text-align: center;
  font-size: 14px;
  border-radius: 100px;
  outline: none;
  background: rgb(167,75,0);
  background: linear-gradient(45deg, rgba(167,75,0,1) 16%, rgba(196,79,0,1) 35%, rgba(221,90,0,1) 60%, rgba(255,85,0,1) 95%); 
}

.profile-song-info {
    width: 600px;
}

.profile-song-info-top {
    display: flex;
    justify-content: space-between;
    width: 100%;
    font-size: 12px;
    color: gray;
}

.profile-song-artist {
    color: gray;
    padding-left: 10px;
}

.profile-song-info-bottom {
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.profile-song-info-bottom a {
    color: black;
    padding-left: 10px;
}

.profile-song-info-bottom li:last-child {
    color: white;
    background: gray;
    font-size: 12px;
    padding: 0px 7px;
    border-radius: 20px;
    align-items: center;
    height: 18px;
    margin-top: 3px;
    display: flex;
}


// .waveform {
//     height: 80px;
//     width: 100%;
//     border: 1px solid rgb(199, 199, 199);
//     background: rgb(167,75,0);
//     background: linear-gradient(45deg, rgba(167,75,0,1) 16%, rgba(196,79,0,1) 35%, rgba(221,90,0,1) 60%, rgba(255,85,0,1) 95%); 
// }

.waveform {
    width: 100%;
}

.profile-song-footer {
    margin-top: 10px;
}

.profile-song-like {
    background: white;
    border-radius: 3px;
    border: 1px solid gray;
    display:flex;
    height: 23px;
    padding: 6px 9px;
    font-size: 11px;
    outline: none;
}

.like-icon {
    padding-right: 6px;
}

.profile-right-panel {
   width: 100%;
   padding-top: 12px;
}

.profile-right-panel-content {
    // position: absolute;
    // left: 800px;
    // bottom: 1357px;
    color: rgb(145, 145, 145)
}

.profile-stats {
    display: flex;
    justify-content: space-evenly;
}

.profile-stats h2 {
    font-size: 12px;
    padding-bottom: 5px;
    display: flex;
    justify-content: center;
}

.profile-stats p {
    font-size: 20px;
    display: flex;
    justify-content: center;
}

.profile-bio {
    padding-top: 10px;
    margin: 0px 15px;
    color: black;
}

.bio-span {
    font-size: 12px;
}

.profile-song-bottom {
    display: flex;
}

.followers-span {
    width: 83px;
    border-right: 1px solid #f0efef;
}

.following-span {
    width: 83px;
    border-right: 1px solid #f0efef;
}

.tracks-span {
    width: 83px;
}

.followers-span:hover, .following-span:hover, .tracks-span:hover {
    color: black;
}

.no-songs {
    font-size: 32px;
    margin: 40px 0px;
}

.no-songs-upload {
    color: #ff5500;
}

.empty-profile {
    background: rgb(167,75,0);
  background: linear-gradient(45deg, rgba(167,75,0,1) 16%, rgba(196,79,0,1) 35%, rgba(221,90,0,1) 60%, rgba(255,85,0,1) 95%); 
}