.login-form-container {
  font-family: Interstate, "Lucida Grande", Arial, sans-serif;
}

.session-submit {
  background-color: #f50;
  box-sizing: border-box;
  width: 375px;
  font-size: 18px;
  padding: 8px 7px;
  border-radius: 3px;
  border-color: #f50;
  background-color: #f50;
  color: #fff;
  box-shadow: 1px 1px 5px lightgrey;
}

.login-input {
  width: 375px;
  box-sizing: border-box;

  font-size: 18px;
  padding: 8px 7px;
}

.fine-print {
  font-size: 12px;
}

.fine-print-signup{
  font-size: 12px;
margin-top: 50px;
}

.demo-log {
  background: #f50;
  color: white;
  padding: 8px 7px;
  border-radius: 3px;
  border-color: #f50;
  background-color: #f50;
  color: #fff;
  box-shadow: 1px 1px 5px lightgrey;
  margin: 15px;
}

.log-in {
  margin: 30px;
}
